/* @font-face {
    font-family: gotham;
    src: url('https://fonts.cdnfonts.com/css/gotham');
 } */

 body{
    font-family: gotham;
    src: url('https://fonts.cdnfonts.com/css/gotham');
 }
 .heading1{
    /* font-family: gotham; */
    /* src: url('https://fonts.cdnfonts.com/css/gotham'); */
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
 }
.heading2{
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
}

/* header section */
.header{
    background: #C4C4C4;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    height: 75px;
    width: 311px;
    margin-top: 9px;
    padding-left: 0px;
}
.body {
    max-width: 1024px;
    margin: auto;
}

.mainmenu{
    background: #E77F45;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.mainmenutext {
    padding-top: 17px;
    padding-left: 23px;
    padding-right: 25px;
    font-family: 'Gotham', sans-serif;
    width: 22%;
}
.mainmenutext2 {
    padding-top: 17px;
    font-family: 'Gotham', sans-serif;
    width: 20%;
}
#usericon {
    float: left;
    margin: -2px;
    padding-right: 5px;
}

.secondmenu {
    background: #fffdfd;
    height: 50px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;          
}
.secMenuText{
    padding-top: 17px;
    padding-left: -17px;
    padding-right: 25px;
    font-family: 'Gotham', sans-serif;
    align-items: center;
    text-align: center;
    width: 22%;
    font-weight: 500;
}

.banner{
    max-width: 100%;
    height: auto;
    
}
#search {
    border-color: black;
    border-width: 2px;
    padding: 5px;
    color: lightgray;
    background-color: white;
    width: 200px;
    height: 20px;
    margin-top: 30px;
    margin-right: 30px;
}
#searchicon {
    float: right;
    margin: -2px;
}
.navigation{

}
/* left column - filter section */
.filterSection{
    float: left;
    width: 164px;
    /* temporary bg color for testing purpose */
    /* background-color: #E77F45;  */
}
.filterSection .heading1{
    padding-left: 23px;
    color: #000000;
}
.filterSection .filterCategories{
    color: #000000;
    padding-left: 23px;

}
.filterOptions{
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: #000000;
}
input[type='number']{
    width: 56px;
    font-size: 11px;
}
.price-filter-field {
    display: inline-block;
    position: relative;
    top: -7px;
}
#price-label-mini,
#price-label-max {
    font-size: 9px;
    position: absolute;
    top: 22px;
}
#price-label-mini {
    left: 2px;
}
#price-label-max{
    left: 70px;
}
.sections {    
    height:1000px; /* just for testing */
}
/* Clear floats after the columns */
.sections::after {
    /* content: "";
    display: table; */
    clear: both;
  }
footer {
    height: 95px;
    background-color: #C4C4C4;
}
.footer-logo .logo {
    width: 157px;
    height: 37px;
    left: 22px;
}
.footer-text-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    padding-top: 5px;
    padding-left: 23px;
    padding-right: 20px;
}
#copy-right-icon{
    width: 15px;
    height: 15px;
    padding-top: 0px;
}
#call-icon
#fb-icon
#insta-icon{
    width: 24px;
    height: 24px;
}