body{
    font-family: 'Gotham Bold';
    src: url('https://fonts.cdnfonts.com/css/gotham-bold');
    max-width: 1024px;
    margin: auto;
}
.heading1 {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.heading2{
    font-weight: 500;
    font-size: 14px;
}
/* header section */
.header{
    background-color: #FDCA17;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: 75px;
    width: 311px;
    margin-top: 9px;
    padding-left: 0px;
}
.mainmenu{
    background: #E77F45;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.mainmenutext {
    padding-top: 17px;
    padding-left: 23px;
    padding-right: 25px;
    width: 22%;
    text-decoration: none;
    font-size: 14px;
}
.mainmenutext:hover {
    text-decoration: underline;
}
.mainmenutext2 {
    display: flex;
    align-items: center;
    padding-top: 17px;
    width: 20%;
    padding-bottom: 15px;
    font-size: 14px;
}
.cart-link {
    color: white;
    text-decoration: none;
}
.mainmenutext2:hover {
    text-decoration: underline;
}
#usericon {
    float: left;
    margin: -2px;
    padding-right: 5px;
}
.secondmenu {
    background: #fffdfd;
    height: 50px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;          
}
.secMenuText{
    padding-top: 17px;
    padding-left: -17px;
    padding-right: 25px;
    align-items: center;
    text-align: center;
    width: 22%;
    font-weight: 500;
}
.banner{
    max-width: 100%;
    height: auto;
}
.search-container {
    float: right;
}
.search-container button {
    float: right;
    padding: 2px 5px;
    margin-top: 27px;
    margin-right: 16px;
    background: #E77F45;
    font-size: 17px;
    border: none;
    cursor: pointer;
}  
.search-container button:hover {
    background: #ccc;
}
input[type=text] {
    padding: 6px;
    margin-top: 27px;
    font-size: 17px;
    border: none;
    width: 200px;
    height: 20px;
}
#searchicon {
    float: right;
    margin: -5px;
    background-color: #E77F45;
} 
/* navigation, breadcrumbs */
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-left: -19px;
    margin-right: 20px
}
ul.breadcrumb {
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #E77F45;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #E77F45;
    text-decoration: underline;
}
.back-key a {
    text-decoration: none;
    color: #E77F45;
}
.back-key a:hover {
    text-decoration: underline;
}
/* index.html - related css */
/* left column - filter section */
.filterSection{
    width: 16%;
}
.filterSection .heading1{
    padding-left: 23px;
    margin-top: 0px;
    padding-bottom: 0px;
}
.filterSection .heading2{
    padding-top: 8px;
    padding-bottom: 10px;
}

.filterSection .filterCategories{
    padding-left: 23px;
    padding-top: 2px;
    padding-bottom: 22px;
}
.filterOptions{
    font-weight: 200;
    font-size: 11px;
}
input[type='number']{
    width: 56px;
    height: 22px;
    font-size: 11px;
    margin-top: 10px;
}
.price-filter-field {
    display: inline-block;
    position: relative;
    top: -7px;
}
#price-label-mini,
#price-label-max {
    font-size: 9px;
    position: absolute;
    top: 42px;
    color: #C4C4C4;
}
#price-label-mini {
    left: 17px;
}
#price-label-max{
    left: 82px;
}
.sections {    
    display: flex; 
}
/* right column */
.item-container{
    width: 84%;
}
.item-topic {
    margin-left: 48px;
}
.item-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px; 
    margin-top: 18px;
    margin-left: 53px; 
}
/* product card style */
.item-wrapper {
    width: 100%;
}
.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 181px;
    height: 275px;
    border: 1px solid #E77F45;
    margin-right: 20px;
    text-align: left; 
}
.item-notice {
    width: 100%;
    height: 23.95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }
 
.notice-text {
    color: #E77F45;
    font-size: 20px;
    margin-left: 5px;
}
.notice-numerical {
    background-color: #E77F45;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.item-image{
    width: 100.33px;
    height: 147px;
    margin-top: 8px;
    margin-left:40px;
}
.item-name{
    font-size: 11px;
    margin-top: 5px;
    margin-left: 4px;
}
.item-price {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 4px;
}
.item button {
    width: 100%;
    height: 35px;
    color: white;
    border: none;
    background-color: #E77F45;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin-top: 16px;
}
  
.item button:hover {
    opacity: 0.7;
}
/* footer area */
footer {
    background-color: #FDCA17;
    margin-bottom: 30px;
    padding-bottom: 25px;
    margin-top: 34px; 
}
.footer-logo .logo {
    width: 157px;
    height: 37px;
    left: 22px;
    padding-bottom: 10px;
}
.footer-text-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding-left: 23px;
    padding-right: 50px;
}
#copy-right-icon{
    width: 13px;
    height: 13px;
    margin-top: -15px;
}
.footertext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
}
@media (max-width: 600px) {
    .mainmenutext {
        font-size: 10px;
    }
    .mainmenutext2 {
        font-size: 10px;
    }
}
